---
import { formatDate } from "@utils/dateFormat";
import BlogPostMetadata from "./BlogPostMetadata.astro";

export interface Props {
  post: any;
}

const { post } = Astro.props;
const { publishDate, tags } = post.frontmatter;
---

<article class="post-preview">
  <a href={post.url}>
    <h2 class="title">{post.frontmatter.title}</h2>
  </a>

  <p>{post.frontmatter.description}</p>

  <BlogPostMetadata publishDate={publishDate} tags={tags} />
</article>

<style>
  .post-preview {
    margin-bottom: 6rem;
  }
</style>
