---
// components
import BlogPostMetadata from "@components/BlogPostMetadata.astro";

// styles
import BlogPostStyles from "@styles/components/BlogPost.module.scss";

export interface Props {
  title: string;
  publishDate: string;
  heroImage: string;
  alt: string;
  tags: string[];
}

const { title, publishDate, heroImage, alt, tags } = Astro.props;
---

<article>
  <header class={BlogPostStyles.header}>
    <h1 class={BlogPostStyles.title}>{title}</h1>

    <BlogPostMetadata publishDate={publishDate} tags={tags} />

    {
      heroImage && (
        <img
          width="720"
          height="420"
          class="hero-image"
          loading="lazy"
          src={heroImage}
          alt={alt}
        />
      )
    }
  </header>

  <main class={BlogPostStyles.content}>
    <slot />
  </main>
</article>
