---
import BlogPostMetadata from "./BlogPostMetadata.astro";

export interface Props {
  // TODO: Fix this prop type
  post: any;
}

const { post } = Astro.props;
const { title, description, publishDate, tags, draft = false } = post.data;
---

<article class="post-preview">
  <a href={`/posts/${post.slug}`}>
    <h2 class="title">{title}{draft ? " (DRAFT)" : ""}</h2>
  </a>

  <p>{description}</p>

  <BlogPostMetadata publishDate={publishDate} tags={tags} />
</article>

<style lang="postcss">
  @layer layout {
  .post-preview {
    margin-block-end: 6rem;
  }
  }
</style>
