---
// dependencies
import "normalize.css";
import "@styles/global.scss";
import { SITE_METADATA } from "@src/constants";
import type { SiteMetadata } from "@src/types";

//types
type Props = Partial<SiteMetadata>;

// javascript
const {
  title = SITE_METADATA.title,
  subtitle = null,
  description = SITE_METADATA.description,
  permalink = SITE_METADATA.permalink,
} = Astro.props;

const fullTitle = subtitle ? `${subtitle} - ${title}` : title;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<link rel="canonical" href={canonicalURL} />

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="manifest" href="/site.webmanifest" />
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f04444" />
<meta name="theme-color" content="transparent" />

<title>{fullTitle}</title>
<meta name="title" content={fullTitle} />
<meta name="description" content={description} />
<meta name="color-scheme" content="dark light" />

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content="https://astro.build/social.png?v=1" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={permalink} />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content="https://astro.build/social.png?v=1" />

<link rel="preconnect" href="https://fonts.bunny.net" />
<link href="https://fonts.bunny.net/css" rel="stylesheet" />

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-lucario.css"
/>

<script
  src="https://thirteen-calm.josephshambrook.dev/script.js"
  data-site="FQIBIAJX"
  defer
></script>
