---
// components
import { SiteMetadata } from "@src/types";
import SiteHead from "../components/SiteHead.astro";

// javascript
const { title, subtitle, description, permalink, lang = "en" } = Astro.props;

// props
export type Props = Partial<SiteMetadata> & {
  lang?: string;
};
---

<html lang={lang}>
  <head>
    <SiteHead
      title={title}
      subtitle={subtitle}
      description={description}
      permalink={permalink}
    />
  </head>

  <body>
    <slot />
  </body>
</html>
