---
// components
import SiteHead from "../components/SiteHead.astro";

// types
import type { SiteMetadata } from "@src/types";

// props
type Props = Partial<SiteMetadata> & {
  lang?: string;
};

// javascript
const { title, subtitle, description, permalink, lang = "en" } = Astro.props;
---

<html lang={lang}>
  <head>
    <SiteHead
      title={title}
      subtitle={subtitle}
      description={description}
      permalink={permalink}
    />
  </head>

  <body class="body">
    <slot />
  </body>
</html>
