---
// components
import SiteHead from "../components/SiteHead.astro";

// types
import type { SiteMetadata } from "@src/types";

// props
type Props = Partial<SiteMetadata> & {
  lang?: string;
};

// javascript
const { title, subtitle, description, permalink, lang = "en" } = Astro.props;
---

<html lang={lang}>
  <head>
    <SiteHead
      title={title}
      subtitle={subtitle}
      description={description}
      permalink={permalink}
    />
  </head>

  <body class="body">
    <slot />

    <!-- Cloudflare Web Analytics -->
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "5c132c87d4664c6fa0aa7d3045b6d371"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
