---
// dependencies
import cns from "classnames";

// styles
import layoutStyles from "@styles/layouts/layout.module.scss";

// components
import Header from "../components/Header.svelte";
import Footer from "../components/Footer.svelte";
import BlogPost from "../components/BlogPost.astro";

// content
import { Content as ShortBio } from "@content/bio-short.md";

// types
import type { MarkdownLayoutProps } from "astro";
import Base from "./Base.astro";
type Props = MarkdownLayoutProps<{
  title: string;
  author: string;
  date: string;
}>;

// javascript
const { content } = Astro.props;
const { title, description, publishDate, heroImage, permalink, alt, tags } =
  content;
---

<Base {title} {description} {permalink}>
  <Header />
  <div class={cns(layoutStyles.container, layoutStyles["grid--12"])}>
    <main class={layoutStyles.main}>
      <BlogPost {title} {heroImage} {publishDate} {alt} {tags}>
        <slot />
      </BlogPost>
    </main>
    <aside class={layoutStyles.aside}>
      <slot name="aside">
        <ShortBio />
      </slot>
    </aside>
  </div>
  <Footer />
</Base>
