---
// dependencies
import cns from "classnames";

// styles
import layoutStyles from "@styles/layouts/layout.module.scss";

// components
import Base from "./Base.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.svelte";
import Spotify from "../components/Spotify.astro";

// content
import { getEntryBySlug } from "astro:content";

// types
import type { SiteMetadata } from "@src/types";
export type Props = Partial<SiteMetadata>;

// js
const shortBioEntry = await getEntryBySlug("bio", "short");
const { Content: ShortBio } = await shortBioEntry.render();

const { title, subtitle, description, permalink } = Astro.props;
---

<Base
  title={title}
  subtitle={subtitle}
  description={description}
  permalink={permalink}
>
  <Header />

  <div class={cns(layoutStyles.container, layoutStyles["grid-12"])}>
    <main class={layoutStyles.main} id="main">
      <slot name="main">
        <h1>H1 - Heading 1</h1>
        <h2>H2 - Heading 2</h2>
        <h3>H3 - Heading 3</h3>
        <h4>H4 - Heading 4</h4>
        <h5>H5 - Heading 5</h5>
        <h6>H6 - Heading 6</h6>
        <p>
          Body Regular, with some extended text to make sure I take up lots of
          room, try out a variety of characters and words, and do some f&*%!ng
          swearing to try out special characters.
        </p>
        <p class="text-em">Body emphasis</p>
        <p><a href="https://josephshambrook.dev">Body link</a></p>
        <small>Body small</small>
      </slot>
    </main>

    <aside class={cns(layoutStyles.aside, "stack")}>
      <slot name="aside">
        <ShortBio />
        <Spotify />
      </slot>
    </aside>
  </div>

  <Footer />
</Base>
